* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
}

body.light {
    --text: dark;
    --background: #f5f5f5;
}

body.dark {
    --text: white;
    --background: dark;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    gap: 2vw;
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 25px;
    /* margin-bottom: 25px; */

    flex-wrap: wrap;

    /* background: linear-gradient(to top, rgba(28,39,48,0), rgba(28,39,48)); */
    /* background-color: black; */

    position: sticky;
    top: 0;
    z-index: 50;
}

nav ul {
    display: flex;
    gap: 1vw;
}

nav h1 {
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
}

/* @media screen and (max-width: 1000px) {
    nav {
        flex-wrap: wrap;
    }
} */

a:link, a:visited {
    color: var(--text);
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}


header {
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 1px grey;

    position: sticky;
    top: 0;
    z-index: 10;
}

.split-topic {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    gap: 2vw;
    padding: 15px;
    border: thin solid;
    box-shadow: 4px 4px 0px grey;
    margin-top: 5vh;
}

.split-item-right ul {
    /* margin-bottom: 45px; */
    padding: 15px;
}

.split-item-right h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.split-item-left {
    /* border-right: thick solid; */
}

.split-item-left a::after {
    margin-right: 4vw;
}

.split-item-left img {
    width: 100%;
    max-width: 25vh;
    max-height: 25vh;
    border-radius: 50%;
    object-fit: cover;
}

.split-item-left h1 {
    margin-bottom: 5px;
}

.split-item-left p {
    margin-top: 5px;
}

.split-item-right {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.split-item-right li {
    text-transform: uppercase;
    font-size: large;
}

.split-item-right p {
    max-width: 550px;
    margin-bottom: 0;
}

.split-item-left, .split-item-right {
    padding: 15px;
}


.split-item-right ul a {
    text-decoration: none;

}

.split-item-right ul {
    box-shadow: 2px 2px 0px grey;
    border: thin solid grey;
    border-radius: 10px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.35%; 

    /* box-shadow: 4px 4px 0px rgb(88, 88, 88); */
    /* border: thin solid; */
}

iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;


    /* border-radius: 10px; */

}

main {
    max-width: 1600px;
    margin: 0 auto;
}

.profile {
    max-width: 20%;
    float: left;
    position: sticky;
    top: 80px;
    z-index: 15;
}

.profile img {
    width: 100%;
    max-width: 18vh;
    max-height: 18vh;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: 2px 2px 2px grey;
}

.profile h1, .topic h1 {
    margin-bottom: 5px;
    line-height: 1em;
}

.profile p, .topic p {
    margin-top: 5px;
    line-height: 1.4em;
}

.pd15 {
    padding: 15px;
}


.topic {
    max-width: 800px;
    /* max-width: 50%; */
    /* float: right; */
    margin: 0 auto;
    margin-bottom: 10vh;
}

.topic p {
    max-width: 550px;
}

.topic li {
    text-transform: uppercase;
    font-size: large;
}

.topic ul a {
    text-decoration: none;

}

.topic ul {
    box-shadow: 2px 2px 0px grey;
    border: thin solid grey;
    border-radius: 10px;

    max-width: max-content;
    margin-bottom: 20px;
}

.topic ul h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    gap: 5vw;
}


@media screen and (max-width: 1425px) {
    
    .split-topic {
        flex-direction: column;
        /* border: none; */

        padding: 20px;
        
        margin-top: 40px;
        margin-bottom: 60px;
        max-width: max-content;
        border: none;
        box-shadow: none;
        /* margin-inline: 20px; */
    }

    .split-item-left {
        border-right: none;
        border-bottom: thick solid;
    }

    .profile {
        float: none;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        top: 0;
    }

    nav {
        position: relative;
    }

    .topic {
        margin-bottom: 0;
    }
    

}


@media screen and (prefers-color-scheme: light) {
    
    .split-item-right ul:hover, .topic ul:hover {
        
        border-radius: 10px;
        background-color: rgb(221, 221, 221);
    }

    .split-item-left img {
        box-shadow: 2px 2px 2px rgb(151, 151, 151);
    }

    header {
        background-color: white;
    }

    nav {
        background-color: white;
        /* color: white; */
        /* background-color: rgb(221, 221, 221); */
    }


}


@media screen and (prefers-color-scheme: dark) {
    
    .split-item-right ul:hover, .topic ul:hover{
        
        border-radius: 10px;
        background-color: rgb(49, 49, 49);
    }

    nav {
        background-color: rgb(49, 49, 49);
    }

    .split-item-left img {
        box-shadow: 2px 2px 2px rgb(49,49,49);
    }

    header {
        background-color: rgb(0, 0, 0);
    }


    


}


