* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
}

body.light {
    --text: dark;
    --background: #f5f5f5;
}

body.dark {
    --text: white;
    --background: dark;
}

a:link, a:visited {
    color: var(--text);
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}


header {
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 1px grey;

    position: sticky;
    top: 0;
    z-index: 10;
}

.split-topic {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2vw;
    padding: 15px;
    border: thin solid;
    box-shadow: 4px 4px 0px grey;
    margin-top: 10vh;
}

.split-item-right ul {
    margin-bottom: 65px;
    padding: 15px;
}

.split-item-right h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.split-item-left {
    /* border-right: thick solid; */
}

.split-item-left a::after {
    margin-right: 4vw;
}

.split-item-left img {
    width: 100%;
    max-width: 25vh;
    max-height: 25vh;
    border-radius: 50%;
    object-fit: cover;
}

.split-item-left h1 {
    margin-bottom: 5px;
}

.split-item-left p {
    margin-top: 5px;
}

.split-item-left, .split-item-right {
    padding: 15px;
}




@media screen and (max-width: 1225px) {
    
    .split-topic {
        flex-direction: column;
        /* border: none; */

        padding: 20px;
        
        margin-top: 40px;
        margin-bottom: 60px;
        max-width: max-content;
        border: none;
        box-shadow: none;
        /* margin-inline: 20px; */
    }

    .split-item-left {
        border-right: none;
        border-bottom: thick solid;
    }


    

}


@media screen and (prefers-color-scheme: light) {
    
    .split-item-right ul:hover {
        
        border-radius: 10px;
        background-color: rgb(151, 151, 151);
    }

    .split-item-left img {
        box-shadow: 2px 2px 2px rgb(151, 151, 151);
    }

    header {
        background-color: white;
    }


}


@media screen and (prefers-color-scheme: dark) {
    
    .split-item-right ul:hover {
        
        border-radius: 10px;
        background-color: rgb(49, 49, 49);
    }

    .split-item-left img {
        box-shadow: 2px 2px 2px rgb(49,49,49);
    }

    header {
        background-color: rgb(0, 0, 0);
    }


}


